services:
  backend:
    build: .
    command: sh -c "uvicorn v0.main:app --port=8000 --host=0.0.0.0"
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      retries: 5
      timeout: 5s
